:root.theme-dark {
  --main-font: "IBM Plex mono";
  --page-color: #000028;
  --header-menu-color: #ff0070;
  --header-title: #db00ff;
  --header-shadow: #ff0070;
  --section-title-color: #ff0070;
  --card-title-color: #000028;
  --card-title-fount: #ff0070;
  --shadow-color: #ff0070;
  --text-color: #f1b2ce;
  --outline-color: rgba(255, 0, 112, 0.4);
  --bg-image: url(../images/cover-image-dark.png);
}

.page.theme_dark {
  --main-font: "IBM Plex mono";
  --page-color: #000028;
  --header-menu-color: #ff0070;
  --header-title: #db00ff;
  --header-shadow: #ff0070;
  --section-title-color: #ff0070;
  --card-title-color: #000028;
  --card-title-fount: #ff0070;
  --shadow-color: #ff0070;
  --text-color: #f1b2ce;
  --outline-color: rgba(255, 0, 112, 0.4);
  --bg-image: url(../images/cover-image-dark.png);

  .header__decorative-title::before {
    content: "rec";
  }

  .header__decorative-title::after {
    content: "";
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-font: "IBM Plex mono";
    --page-color: #000028;
    --header-menu-color: #ff0070;
    --header-title: #db00ff;
    --header-shadow: #ff0070;
    --section-title-color: #ff0070;
    --card-title-color: #000028;
    --card-title-fount: #ff0070;
    --shadow-color: #ff0070;
    --text-color: #f1b2ce;
    --outline-color: rgba(255, 0, 112, 0.4);
    --bg-image: url(../images/cover-image-dark.png);
  }

  .header__decorative-title::before {
    content: "rec";
  }

  .header__decorative-title::after {
    content: "";
  }
}
