:root.theme-light {
  --main-font: 'IBM Plex mono';
  --page-color: #FFF1F7;
  --header-menu-color: #353430;
  --header-title: #FFC2E6;
  --header-shadow: #FF8DCB;
  --section-title-color: #353430;
  --card-title-color: #353430;
  --card-title-fount: #FF8DCB;
  --shadow-color: #FF8DCB;
  --text-color: #353430;
  --outline-color: rgba(50, 49, 45, 0.40);
  --bg-image: url(../images/cover-image-light.png);
}

.page.theme_light {
  --main-font: 'IBM Plex mono';
  --page-color: #FFF1F7;
  --header-menu-color: #353430;
  --header-title: #FFC2E6;
  --header-shadow: #FF8DCB;
  --section-title-color: #353430;
  --card-title-color: #353430;
  --card-title-fount: #FF8DCB;
  --shadow-color: #FF8DCB;
  --text-color: #353430;
  --outline-color: rgba(50, 49, 45, 0.40);
  --bg-image: url(../images/cover-image-light.png);

  .header__decorative-title::before {
    content: none;
  }

  .header__decorative-title::after {
    content: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --main-font: 'IBM Plex mono';
    --page-color: #FFF1F7;
    --header-menu-color: #353430;
    --header-title: #FFC2E6;
    --header-shadow: #FF8DCB;
    --section-title-color: #353430;
    --card-title-color: #353430;
    --card-title-fount: #FF8DCB;
    --shadow-color: #FF8DCB;
    --text-color: #353430;
    --outline-color: rgba(50, 49, 45, 0.40);
    --bg-image: url(../images/cover-image-light.png);
    }

  .header__decorative-title::before {
      content: none;
    }

  .header__decorative-title::after {
      content: none;
    }
  }