:root {
  --main-font: 'IBM Plex mono';
  --page-color: #000028;
  --header-menu-color: #FF0070;
  --header-title: #DB00FF;
  --header-shadow: #FF0070;
  --section-title-color: #FF0070;
  --card-title-color: #000028;
  --card-title-fount: #FF0070;
  --shadow-color: #FF0070;
  --text-color: #F1B2CE;
  --outline-color: rgba(255, 0, 112, 0.40);
  --bg-image: url(../images/cover-image-dark.png);
}